<!DOCTYPE html>
<html>

<head id="Security">
    <title>Log in</title>
    <link rel="stylesheet" href="../Resources/css/login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>

<body>
    <h1>Log in</h1>
    <div>
        <form id="infouser" action="mainPage.html">
            <p> Email: </p>
            <input type="text" id="email" name="email" />
            <br />
            <p> Password: </p>
            <input type="password" id="pwd" name="pwd" />
            <br />
            <p id = "error" class="error"></p>
            <button type="submit" name="LOGIN">LOGIN</button>
        </form>
        <br />
        <p class="text">Don't have an account yet? 
            <a href="Register.html">
                Register
            </a> 
        </p>
        
    </div>

    <script>

        var xhttp;
        var form = document.getElementById("infouser");
        form.onsubmit = function (e) {
            e.preventDefault();
            var formdata = new FormData(form);
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("Security").innerHTML = '<meta http-equiv="refresh" content="0; URL=mainPage.php" />';
                }
                else if (this.readyState == 4 && this.status == 404) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("error").innerHTML = 'Wrong email or password';
                }
                else if (this.readyState == 4 && this.status == 505) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("error").innerHTML = 'No empty fields allowed';
                }
            };

            xhttp.open("POST", "../Controllers/User/search.php", false);
            xhttp.send(formdata);
        }

    </script>


</body>

</html>