<!DOCTYPE html>
<html>

<head>
    <input id="changescreen" type="hidden"/>
    <title>Register</title>
    <link rel="stylesheet" href="../Resources/css/login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />

</head>

<body>
    <h1>Register</h1>
    <div>
        <form id="registeruser">
            <p> Email: </p>
            <input type="text" id="mail" name="mail" />
            <br />
            <p> Username: </p>
            <input type="text" id="user" name="user" />
            <br />
            <p> Study Program: </p>
            <select id="sp" name="sp">
                <option value="ITC11">ITC11</option>
                <option value="INCQ13">INCQ13</option>
            </select>
            <br />
            <p> Password: </p>
            <input type="password" id="pwd" name="pwd" onkeyup="showHint(this.value)" />
            <br />
            <span id="Security"></span>
            <br />
            <button type="submit" name="Register">REGISTER</button>
            <br/>
            <p id ="error"></p>
        </form>
        <br />
        <p class="text"> Already have an account? 
            <a href="login.html">
                Log In
            </a> 
        </p>
    </div>
    <script>

var xhttp;
    var form = document.getElementById("registeruser");
        form.onsubmit = function (e) {
            e.preventDefault();
            var formdata = new FormData(form);
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("error").innerHTML ='User created Succesfully';
                    document.getElementById("changescreen").innerHTML ='<meta http-equiv="refresh" content="2; URL=login.html" />';
                }
                else if (this.readyState == 4 && this.status == 404) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("error").innerHTML = '<p class="error">Email already in use</p>';
                }
                else if (this.readyState == 4 && this.status == 505) {
                    //var karen = JSON.parse(this.responseText);
                    document.getElementById("error").innerHTML = '<p class="error">No empty fields allowed</p>';
                }
            };

            xhttp.open("POST", "../Controllers/User/create.php", false);
            xhttp.send(formdata);
        }


        function showHint(str) {

            if (str.length == 0) {
                document.getElementById("Security").innerHTML = "<h2 class=\"\"></h2>";
                return;
            }

            else if (str.length < 8) {

                document.getElementById("Security").innerHTML = "<h2 class=\"weak\">weak Password</h2>";

            }
            else {

                document.getElementById("Security").innerHTML = "<h2 class=\"safe\">Safe Password</h2>";

            }
        }

    </script>


</body>

</html>